<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv='content-type' content='text/html;charset=utf-8' />
<link href="http://files.samhart.net/snh-static/bootstrap.min.css" rel="stylesheet" media="screen">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<style>
body {
  background-color: rgb(8, 12, 6);
  font-family: 'Roboto Slab', serif;
  font-size: 1.25em;
  padding-bottom: 70px;
}
div.jumbotron {
  background-color: rgb(189, 222, 165);
}

#snhCanvas {
  background-color: rgb(189, 222, 165);
}
div.well {
  background-color: rgb(0, 0, 0); color: rgb(115, 146, 100);
}
strong {
  color: #22aa11;
}
h1 {
  color: #008811;
}
h2 {
  color: #109823;
}
h3 {
  color: #119922;
}
div.jumbotron h1 {
  color: #004400;
}
a {
  color:#44ff33;
}
a:hover {
  color: #33ee22;
  }
  .btn-info {
    color: #003311;
    background-color: #33bb22;
    border-color: #44ee33;
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #197323;
    border-color: #26BC5C;
  }
.panel {
  background-color: #0F300B;
}
.panel-default {
  border-color: #19933A;
}
.panel-heading {
  border-color: #A3E88B;
}
.form-control {
  background-color: #222624;
  color: #40D24F;
}
label {
  color: #afa;
}
</style>
<link href="http://files.samhart.net/snh-static/prism.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://files.samhart.net/snh-static/bootstrap.min.js"></script>
<script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
<script src="http://files.samhart.net/snh-static/whirl.js"></script>
</head>
<body onload="init();">
<script src="prism.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="http://criswell.bitbucket.org/">Resume</a></li>
          <li><a href="#">Admin</a></li>
          {% if not state.icebox %}
          <li><p class="navbar-text">|</p></li>
          {% if state.current_user.is_anonymous() %}
          <li><a href="/login">Login</a></li>
          {% else %}
          <li><a href="/admin">Admin</a></li>
          <li><a href="/admin/user">{{ state.current_user.fullname }}</a></li>
          <li><a href="/logout">Logout</a></li>
          {% endif %}
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#top"><small>Top</small></a></li>
          <li><a href="#bottom"><small>Bottom</small></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<a id="top"></a>
<center>
  <canvas id="snhCanvas" height="250"> <!-- width="1140" height="250">-->
    <div class="container">
      <div class='jumbotron'>
        <a href="/"><img src="http://files.samhart.net/snh-static/snh.png" /></a>
      </div>
    </div>
  </canvas>
</center>
<div class='container'>
